$primary-color: #ef4f4f;
$hover-color: #B03A3A;
$bg-color: #f5f5f5;

.bg-primary {
  background-color: $primary-color;
}

.text-primary {
  color: $primary-color;
}

.hover-primary:hover {
  color: #B03A3A;
}

.checkmark-green {
  color: #03c203;
}
