.course-card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 50px;
  margin-bottom: 5%;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.08);
}

.course-card h3 {
  text-transform: uppercase;
  font-weight: normal;
  color: #000;
  font-family: $body-font, sans-serif;
}

.course-text {
  width: 55%;
  line-height: 1.56;
}

.course-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.time-price {
  display: grid;
  grid-template-rows: repeat(1fr 2fr, 1fr);
  column-gap: 50px;
}

.time-price h4, .time-price p {
  margin: 5px 0;
}

.line {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 1px;
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

 ol {
   list-style: none;
   counter-reset: item;
 }

 ol li:before {
  font-family: $heading-font;
  font-size: 30px;
  margin-right: 19px;
  content: counter(item);
  border-radius: 100%;
  border: 2px solid $primary-color;
  color: $primary-color;
  width: 1.5em;
  text-align: center;
  display: inline-block;
 }

ol li {
  font-size: 24px;
  line-height: 1.42;
  font-weight: bold;
  counter-increment: item;
  margin-bottom: 5px;
}

ol p {
  margin-left: 70px;
}

.fa-check {
  color: $primary-color;
  font-size: 20px;
  padding-right: 10px;
}

.time-to-book {
  text-align: center;
}

.countdown, #countdownSEO {
  color: $primary-color;
  font-family: $heading-font;
  font-size: 1.5em;
}

.small-text {
  font-size: 14px;
}

@media only screen and (max-width: 1100px) {
  .course-card {
    display: block;
    margin: 0 !important;
  }

  .course-text {
    width: 90%;
    text-align: center;
    margin: auto;
  }

  .hero-right {
    padding: 0;
  }

  .course-info {
    margin: 0 auto !important;
    width: auto;
  }

  ol li::before {
    font-size: 1em;
    margin-right: 10px;
  }

  ol li {
    font-size: 20px;
  }

  ol p {
    margin-left: 0;
  }

  ol {
    padding: 0;
  }

  .time-price {
    width: 80%;
    column-gap: 20px;
    margin: 50px auto;
  }
}
