// Graphical variables
@import "config/fonts";
@import "config/colors";

// CSS partials
@import "components/index";
@import "pages/index";

//=require_tree .
//=require_self

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h1, h2, h3, h4, p, ul {
  padding: 0 10px;
}

h1, h2 {
  padding: 20px 10px 3px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }
}

.lesson a {
  color: $primary-color;
}

.lesson a:hover {
  text-decoration: underline;
  text-decoration-color: $primary-color;
  color: $primary-color;
}

.lesson .bottom-red-border {
  text-decoration: none;
  color: black;
}

.lesson .not-underline:hover {
  text-decoration: none;
}

a:hover {
  color: red;
}

input {
  border: 1px solid #d3d4d6;
  margin: 3px 5px 3px 8px;
  padding: 0 5px;
}

input[type=submit] {
  margin-left: 0;
}

ol {
  list-style: decimal;
  margin-left: 25px;
}